.button {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 5px 15px;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #2f508e; /*#00ACC1;*/
}

.disabled-btn {
    -fx-opacity: 0.5;
    -fx-background-color: #555;
    -fx-text-fill: #888;
    -fx-border-color: transparent;
}

.disabled-btn:hover {
    -fx-background-color: #555;
}

#cancelButton {
    -fx-background-color: #555;
    -fx-text-fill: white;
}

#cancelButton:hover {
    -fx-background-color: #2f508e;
}